@page
@namespace BTCloudWebApp.Pages
@model EventDrivenNotificationSystemModel
@{
    // This is what will display on the browser tab:
    ViewData["Title"] = "Event Driven Notification System";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Event Driven Notification System</title>
</head>
<body>
    <p> Currently under development.
        <br>
        Estimated completion date: 4/1/2024.
    </p>


</body>
</html>