@page
@model YourNamespace.EventDrivenNotificationSystemModel

<!DOCTYPE html>
<html>
<head>
    <title>Event Driven Notification System</title>
</head>
<body>
    <h1>Event Driven Notification System</h1>
    <p> Currently under development.
        <br>
        Estimated completion date: 4/1/2024.
    </p>


</body>
</html>