@page
@model FileSharingAppModel
@{
    // This is what will display on the browser tab:
    ViewData["Title"] = "File Sharing";
}

<div class="text-center">
    <p>
        Currently under development.
        <br />
        Estimated Release: TBD.
        <br />
        Currently studying for MSFT Exam AZ-204: Developing Solutions for Microsoft Azure
    </p>

    <div class="tenor-gif-embed" data-postid="10251428" data-share-method="host" data-aspect-ratio="1.03734" data-width="100%"><a href="https://tenor.com/view/pulp-fiction-john-travolta-lost-where-wtf-gif-10251428">Pulp Fiction John Travolta GIF</a>from <a href="https://tenor.com/search/pulp+fiction-gifs">Pulp Fiction GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>

























































































































