@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Brandon Torres's Cloud Web Application</h1>
    <p>This web application will be the center of all the projects that I create!</p>

    <p><a href="https://www.brandontorresresume.com" target="_blank" rel="noopener noreferrer">Online Resume (includes a serverless function)</a>
    <br />Weather Tracker
    <br />File Sharing Application
    <br />Event-Driven Notification System
    <br />Blog 
    </p>

    <p>This is an ASP.NET 8.0 Web App that's being hosted with Azure App Services. This site also
utilizes a CI/CD Pipeline that builds, test, and deploys the code for me!</p>

</div>
