@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Brandon Torres's Cloud Web Application</h1>
    <p>This web application will be the center of all the projects that I create!</p>

    <p><a href="https://www.brandontorresresume.com" target="_blank" rel="noopener noreferrer">Online Resume (includes a serverless function)</a>
    <br />Weather Tracker (Complete)
    <br />File Sharing Application (Currently in development)
    <br />Event-Driven Notification System
    <br />Blog 
    <br /> <a href="https://www.github.com/provovic" target="_blank" rel="noopener noreferrer">Check out my GitHub for more</a>
    </p>

    <p>I've developed an ASP.NET 8.0 Web App hosted on Azure App Services. 
        The site is equipped with a robust CI/CD Pipeline that automates the build, testing, 
        and deployment processes, streamlining the development workflow. 
        This setup ensures efficiency and reliability in managing the codebase.</p>

</div>
