@page
@model WeatherTrackingModel
@{
    ViewData["Title"] = "Weather Tracker";
}
<h1>@ViewData["Title"]</h1>

<p>I have successfully created a Python program that utilizes the OpenWeather API, but I'm have an immense amount
    of difficulties in bringing it to the front-end.
</p>

<p>I'll get it though! I typically always do 😏</p>